<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Sell</th>
      <th>T<%= System::SESSION %></th>
      <th>T<%= System::SESSION - 1 %></th>
      <th>T<%= System::SESSION - 2 %></th>
      <th>T<%= System::SESSION - 3 %></th>
      <th>T<%= System::SESSION - 4 %></th>
      <th>T<%= System::SESSION - 5 %></th>
      <th>T<%= System::SESSION - 6 %></th>
      <th>T<%= System::SESSION - 7 %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position.name %></td>
        <td><%= check_box_tag 'sell', 1, player.sell, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_one', 1, player.session_one, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_two', 1, player.session_two, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_three', 1, player.session_three, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_four', 1, player.session_four, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_five', 1, player.session_five, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_six', 1, player.session_six, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_seven', 1, player.session_seven, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= check_box_tag 'session_eight', 1, player.session_eight, onclick: "playerAtribChange(this, '#{player.id}')" %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
