<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @player.session %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @player.sell %>
</p>

<p>
  <strong>Fsession one:</strong>
  <%= @player.fsession_one %>
</p>

<p>
  <strong>Session two:</strong>
  <%= @player.session_two %>
</p>

<p>
  <strong>Session three:</strong>
  <%= @player.session_three %>
</p>

<p>
  <strong>Session four:</strong>
  <%= @player.session_four %>
</p>

<p>
  <strong>Session five:</strong>
  <%= @player.session_five %>
</p>

<p>
  <strong>Session six:</strong>
  <%= @player.session_six %>
</p>

<p>
  <strong>Session seven:</strong>
  <%= @player.session_seven %>
</p>

<p>
  <strong>Session eight:</strong>
  <%= @player.session_eight %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
